<!-- navbar -->
<nav class="navbar bg-brown flex">
  <div class="container flex">
    <!-- main navigation list -->
    <div class="navbar-collapse flex">
      <!-- nav list -->
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
          <a href="#" class="nav-link active-link">
            <span class="nav-link-text">home</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-text">sale</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-text">dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-text">about</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-link-text">contact</span>
          </a>
        </li>
      </ul>
      <!-- end of nav list -->

      <!-- account icons -->
      <div class="account-info">
        <a href="#" class="btn text-white">
          <span>Login</span>
        </a>
        <a href="#" class="btn text-white">
          <span>Register</span>
        </a>
      </div>
      <!-- end of account icons -->
    </div>
    <!-- end of main navigation list -->
  </div>
</nav>
<!-- end of navbar -->
