
<div class="featured-deals-item">
  <div class="image">
    <img
      src="../../../assets/images/featured_deals_img_2.png"
    />
  </div>
  <div class="info bg-white">
    <!-- ratings -->
<!--    <div class="ratings text-grey">-->
<!--      <i class="fas fa-star text-brown"></i>-->
<!--      <i class="fas fa-star text-brown"></i>-->
<!--      <i class="fas fa-star text-light-grey"></i>-->
<!--      <i class="fas fa-star text-light-grey"></i>-->
<!--      <i class="fas fa-star text-light-grey"></i>-->
<!--    </div>-->
    <p class="name">Decor For Drawing Room</p>
    <div class="price">
      <span class="old text-grey">$ 50.00</span>
      <span class="new text-brown">$ 35.00</span>
    </div>
  </div>
</div>
