<div id="login-form-wrap">
  <h2>Register</h2>
  <form id="login-form">
    <p>
      <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" id="email" name="email" placeholder="Email Address" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="rePassword" name="rePassword" placeholder="Repeat Password" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="firstName" name="firstName" placeholder="First Name" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="lastName" name="lastName" placeholder="Last Name" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="text" id="phone" name="phone" placeholder="Phone Number" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="number" id="age" name="age" placeholder="Age" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="register" value="Register">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Already have an account? <a routerLink="/login">Login here</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
