<section class="featured-deals bg-light-brown py" id="featured-deals">
  <div class="container">
    <div class="section-title text-center">
      <h2>Dashboard</h2>
      <p class="lead">Best selection of high quality furniture for you home.</p>
      <div class="line"></div>
    </div>

    <div>
      <button *ngIf="isLoggedIn()" routerLink="/add-furniture">
        Add Furniture
      </button>
    </div>

    <div class="featured-deals-content grid">
      <div
        *ngFor="let item of items"
        class="featured-deals-item"
        routerLink="/furniture/{{ item.id }}"
      >
        <app-item [item]="item" />
      </div>
    </div>
    <div
      style="
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
      "
    >
      <button
        (click)="prevPage()"
        [disabled]="this.start === 0"
        [style]="{ backgroundColor: this.start === 0 ? 'grey' : '' }"
        class="paginationButton"
      >
        prev
      </button>
      <button
        (click)="nextPage()"
        [disabled]="!hasMoreItems"
        [style]="{ backgroundColor: !hasMoreItems ? 'grey' : '' }"
        class="paginationButton"
      >
        new
      </button>
    </div>
  </div>
</section>
