<!-- featured deals section -->
<section
  class="featured-deals bg-light-grey-color-shade py"
  id="featured-deals"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Dashboard</h2>
      <p class="lead">
        Best selection of high quality furniture for you home.
      </p>
      <div class="line"></div>
    </div>

    <div class="featured-deals-content grid">
      <div class="featured-deals-item">
        <div class="image">
          <img
            src="../../../assets/images/featured_deals_img_1.png"
          />
          <span
            class="bg-brown text-white text-center text-uppercase"
          >sale</span
          >
        </div>
        <div class="info bg-white">
          <div class="ratings text-grey">
            <i class="fas fa-star text-brown"></i>
            <i class="fas fa-star text-brown"></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
          </div>
          <p class="name">Decor For Drawing Room</p>
          <div class="price">
            <span class="old text-grey">$ 50.00</span>
            <span class="new text-brown">$ 35.00</span>
          </div>
        </div>
      </div>

      <div class="featured-deals-item">
        <div class="image">
          <img
            src="../../../assets/images/featured_deals_img_2.png"
          />
        </div>
        <div class="info bg-white">
          <div class="ratings text-grey">
            <i class="fas fa-star text-brown"></i>
            <i class="fas fa-star text-brown"></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
          </div>
          <p class="name">Decor For Drawing Room</p>
          <div class="price">
                                        <span class="old text-grey"
                                        >$ 50.00</span
                                        >
            <span class="new text-brown"
            >$ 35.00</span
            >
          </div>
        </div>
      </div>

      <div class="featured-deals-item">
        <div class="image">
          <img
            src="../../../assets/images/featured_deals_img_3.png"
          />
        </div>
        <div class="info bg-white">
          <div class="ratings text-grey">
            <i class="fas fa-star text-brown"></i>
            <i class="fas fa-star text-brown"></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
          </div>
          <p class="name">Decor For Drawing Room</p>
          <div class="price">
                                        <span class="old text-grey"
                                        >$ 50.00</span
                                        >
            <span class="new text-brown"
            >$ 35.00</span
            >
          </div>
        </div>
      </div>

      <div class="featured-deals-item">
        <div class="image">
          <img
            src="../../../assets/images/featured_deals_img_4.png"
          />
        </div>
        <div class="info bg-white">
          <div class="ratings text-grey">
            <i class="fas fa-star text-brown"></i>
            <i class="fas fa-star text-brown"></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
          </div>
          <p class="name">Decor For Drawing Room</p>
          <div class="price">
                                        <span class="old text-grey"
                                        >$ 50.00</span
                                        >
            <span class="new text-brown"
            >$ 35.00</span
            >
          </div>
        </div>
      </div>
      <div class="featured-deals-item">
        <div class="image">
          <img
            src="../../../assets/images/featured_deals_img_4.png"
          />
        </div>
        <div class="info bg-white">
          <div class="ratings text-grey">
            <i class="fas fa-star text-brown"></i>
            <i class="fas fa-star text-brown"></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
            <i
              class="fas fa-star text-light-grey"
            ></i>
          </div>
          <p class="name">Decor For Drawing Room</p>
          <div class="price">
                                        <span class="old text-grey"
                                        >$ 50.00</span
                                        >
            <span class="new text-brown"
            >$ 35.00</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of featured deals section -->
