<section class="featured-deals bg-light-brown py" id="featured-deals">
  <div class="container">
    <div class="section-title text-center">
      <h2>Dashboard</h2>
      <p class="lead">Best selection of high quality furniture for you home.</p>
      <div class="line"></div>
    </div>

    <div>
      <button *ngIf="isAdmin()" routerLink="/add-furniture">
        Add Furniture
      </button>
    </div>

    <div class="featured-deals-content grid">
      <div
        *ngFor="let item of items"
        class="featured-deals-item"
        routerLink="/furniture/{{ item.id }}"
      >
        <app-item [item]="item" />
      </div>
    </div>
  </div>
</section>
