<nav class="navbar bg-brown flex">
  <div class="container flex">
    <!-- main navigation list -->
    <div class="navbar-collapse flex">
      <!-- nav list -->
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
          <a class="nav-link active-link" routerLink="/">
            <span class="nav-link-text">home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <span class="nav-link-text">dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-likes">
            <span class="nav-link-text">My Likes</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/add-furniture">
            <span class="nav-link-text">add furniture</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <span class="nav-link-text">about</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span class="nav-link-text"></span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">
            <span class="nav-link-text">login</span>
          </a>
        </li>
        <li *ngIf="!isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register">
            <span class="nav-link-text">register</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a
            (click)="navigateToProfilePage()"
            class="nav-link"
            style="cursor: pointer"
          >
            <span class="nav-link-text">My profile</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a (click)="logout()" class="nav-link" style="cursor: pointer">
            <span class="nav-link-text">logout</span>
          </a>
        </li>
      </ul>
      <!-- end of nav list -->

      <!-- account icons -->
      <!--      <div class="account-info">-->
      <!--        <a class="btn text-white" routerLink="/login">-->
      <!--          <span>Login</span>-->
      <!--        </a>-->
      <!--        <a class="btn text-white" routerLink="/register">-->
      <!--          <span>Register</span>-->
      <!--        </a>-->
      <!--      </div>-->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
