<div class="bg-light-brown" style="padding: 20px 0">
  <div id="login-form-wrap">
    <h2>Add Furniture</h2>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="addItemForm"
      id="login-form"
      method="post"
    >
      <p>
        <input
          formControlName="title"
          id="title"
          name="title"
          placeholder="Title"
          required
          type="text"
        />
        <span *ngIf="addItemForm.get('title')?.touched">
          <div
            *ngIf="addItemForm.get('title')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Title is required!
          </div>
          <div
            *ngIf="addItemForm.get('title')?.errors?.['minlength']"
            style="color: #de2d2d"
          >
            Title must be at least 3 symbols!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="imageUrl"
          id="imageUrl"
          name="imageUrl"
          placeholder="Image Url"
          required
          type="text"
        />
        <span *ngIf="addItemForm.get('imageUrl')?.touched">
          <div
            *ngIf="addItemForm.get('imageUrl')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Image Url is required!
          </div>
           <div
             *ngIf="addItemForm.get('imageUrl')?.errors?.['invalidUrl']"
             style="color: #de2d2d"
           >
            Image Url is invalid!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="price"
          id="price"
          name="price"
          placeholder="Price"
          required
          type="number"
        />
        <span *ngIf="addItemForm.get('price')?.touched">
          <div
            *ngIf="addItemForm.get('price')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Price is required!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="quantity"
          id="quantity"
          name="quantity"
          placeholder="Quantity"
          required
          type="number"
        />
        <span *ngIf="addItemForm.get('quantity')?.touched">
          <div
            *ngIf="addItemForm.get('quantity')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Quantity is required!
          </div>
        </span>
      </p>
      <p>
        <select formControlName="categoryId">
          <option disabled value="1">Choose category</option>
          <option
            *ngFor="let category of categories"
            ngValue="{{ category.id }}"
          >
            {{ category.name }}
          </option>
        </select>

        <span *ngIf="addItemForm.get('categoryId')?.touched">
          <div
            *ngIf="addItemForm.get('categoryId')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Category is required!
          </div>
        </span>
      </p>
      <p>
        <textarea
          formControlName="description"
          id="description"
          name="description"
          placeholder="Description"
          required
          type="text"
        ></textarea>
        <span *ngIf="addItemForm.get('description')?.touched">
          <div
            *ngIf="addItemForm.get('description')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Description is required!
          </div>
        </span>
      </p>
      <p>
        <input
          [disabled]="addItemForm.invalid"
          [style]="{ backgroundColor: addItemForm.invalid ? 'grey' : '' }"
          id="register"
          type="submit"
          value="Add new furniture"
        />
      </p>
    </form>
  </div>
</div>
