<!-- header -->
<header class="header bg-light-brown flex" id="home">
  <div class="container">
    <div class="header-content grid text-center">
      <div class="header-left">
        <h1>Best Design of Furniture Collection</h1>
        <p class="text">
          Improve the atmosphere through interior design
          that is driven by purposes to bring value into
          your environment
        </p>
        <a routerLink="/dashboard" class="btn-header text-white bg-brown"
        >shop now</a
        >
      </div>

      <div class="header-right">
        <img src="../../assets/images/header-sofa-img.png"  />
      </div>
      <img
        src="../../assets/images/header-shape.png"
        class="header-shape"
      />
    </div>
  </div>
</header>
<!-- end of header -->
