<section class="featured-deals bg-light-brown py" id="featured-deals">
  <div class="container">
    <div class="section-title text-center">
      <h2 *ngIf="items.length !== 0">My Likes</h2>
      <p *ngIf="items.length !== 0" class="lead">Check your liked furniture</p>
      <h1 *ngIf="items.length === 0" style="color: #e53030">No liked items</h1>
      <div class="line"></div>
    </div>

    <div class="featured-deals-content grid">
      <div
        *ngFor="let item of items"
        class="featured-deals-item"
        routerLink="/furniture/{{ item.id }}"
      >
        <app-item [item]="item"/>
      </div>
    </div>
  </div>
</section>
