<div class="bg-light-brown" style="padding: 20px 0">
  <div id="login-form-wrap">
    <h2>Change '{{ user.username }}' password</h2>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="passwordForm"
      id="login-form"
      method="post"
    >
      <p>
        <input
          formControlName="oldPassword"
          id="oldPassword"
          name="oldPassword"
          placeholder="Old Password"
          required
          type="password"
        />
        <span *ngIf="passwordForm.get('oldPassword')?.touched">
          <div
            *ngIf="passwordForm.get('oldPassword')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Old Password is required!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="newPassword"
          id="newPassword"
          name="newPassword"
          placeholder="New Password"
          required
          type="password"
        />
        <span *ngIf="passwordForm.get('newPassword')?.touched">
          <div
            *ngIf="passwordForm.get('newPassword')?.errors?.['required']"
            style="color: #de2d2d"
          >
            New Password is required!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="rePassword"
          id="rePassword"
          name="rePassword"
          placeholder="Repeat Password"
          required
          type="password"
        />
        <span *ngIf="passwordForm.get('rePassword')?.touched">
          <div
            *ngIf="passwordForm.get('rePassword')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Repeat Password is required!
          </div>
        </span>
      </p>
      <p>
        <input
          [style]="{ backgroundColor: passwordForm.invalid ? 'grey' : '' }"
          [disabled]="passwordForm.invalid"
          id="register"
          type="submit"
          value="Change password"
        />
      </p>
    </form>
    <div id="create-account-wrap">
      <p>
        Want to go back?
        <a (click)="goBack()" style="cursor: pointer">Go back</a>
      </p>
      <p></p>
    </div>
  </div>
</div>
