<div class="bg-light-brown" style="padding: 20px 0">
  <div id="login-form-wrap">
    <h2>Add Category</h2>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="addCategoryForm"
      id="login-form"
      method="post"
    >
      <p>
        <input
          formControlName="name"
          id="name"
          name="name"
          placeholder="Name"
          required
          type="text"
        />
        <span *ngIf="addCategoryForm.get('name')?.touched">
        <div *ngIf="addCategoryForm.get('name')?.errors?.['required']"
             style="color: #de2d2d">Name is required!</div>
        </span>
      </p>
      <p>
        <textarea
          formControlName="description"
          id="description"
          name="description"
          placeholder="Description"
          required
          type="text"
        ></textarea>
        <span *ngIf="addCategoryForm.get('description')?.touched">
        <div *ngIf="addCategoryForm.get('description')?.errors?.['required']"
             style="color: #de2d2d">Description is required!</div>
        </span>
      </p>
      <p>
        <input [disabled]="addCategoryForm.invalid" id="register" type="submit" value="Add new category"/>
      </p>
    </form>
  </div>
</div>
