/* user-list.component.css */

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-list li:last-child {
  border-bottom: none;
}

.user-list button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #fc2407;
  color: #fff;
  border: none;
  cursor: pointer;
}

#edit-button {
  background-color: rgb(221, 185, 24);
}

#edit-button:hover {
  background-color: rgb(141, 116, 4);
}
.user-list button:hover {
  background-color: #a31502;
}
