<section class="featured-deals bg-light-brown py" id="featured-deals">
  <div class="container">
    <div class="section-title text-center">
      <h2>All Users</h2>
      <p class="lead">Admins have access to all users.</p>
      <div class="line"></div>
    </div>

    <div>
      <ul class="user-list">
        <li *ngFor="let user of users">
          <div class="user-card">
            <div class="user-info">
              <p class="user-name">
                <span>Username: </span>{{ user.username }}
              </p>
              <p class="user-email"><span>Email: </span>{{ user.email }}</p>
              <p class="user-email">
                <span>Is Admin: </span>{{ user.isAdmin }}
              </p>
            </div>
            <div class="user-actions">
              <button
                (click)="changeAdmin(user.id)"
                class="action-button edit-button"
                id="edit-button"
              >
                <i class="fas fa-edit"></i>
                {{ user.isAdmin ? "Remove Admin" : "Make Admin" }}
              </button>

              <button
                (click)="onDelete(user.id)"
                class="action-button delete-button"
                id="delete-button"
              >
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
