<div class="bg-light-brown" style="padding: 20px 0">
  <div id="login-form-wrap">
    <h2>Edit '{{ user.username }}' profile</h2>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="profileForm"
      id="login-form"
      method="post"
    >
      <p>
        <input
          formControlName="username"
          id="username"
          name="username"
          placeholder="Username"
          type="text"
        />
      </p>
      <span *ngIf="profileForm.get('username')?.touched">
        <div
          *ngIf="profileForm.get('username')?.errors?.['required']"
          style="color: #de2d2d"
        >
          Username is required!
        </div>
      </span>
      <p>
        <input
          formControlName="email"
          id="email"
          name="email"
          placeholder="Email Address"
          type="email"
        />
        <span *ngIf="profileForm.get('email')?.touched">
          <div
            *ngIf="profileForm.get('email')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Email is required!
          </div>
          <div
            *ngIf="profileForm.get('email')?.errors?.['email']"
            style="color: #de2d2d"
          >
            Email is invalid!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="firstName"
          id="firstName"
          name="firstName"
          placeholder="First Name"
          type="text"
        />
        <span *ngIf="profileForm.get('firstName')?.touched">
          <div
            *ngIf="profileForm.get('firstName')?.errors?.['required']"
            style="color: #de2d2d"
          >
            First name is required!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="lastName"
          id="lastName"
          name="lastName"
          placeholder="Last Name"
          type="text"
        />
        <span *ngIf="profileForm.get('lastName')?.touched">
          <div
            *ngIf="profileForm.get('lastName')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Last name is required!
          </div>
        </span>
      </p>
      <p>
        <input
          formControlName="phone"
          id="phone"
          name="phone"
          placeholder="Phone Number"
          type="text"
        />
        <span *ngIf="profileForm.get('phone')?.touched">
          <div
            *ngIf="profileForm.get('phone')?.errors?.['required']"
            style="color: #de2d2d"
          >
            Phone is required!
          </div>
        </span>
      </p>
      <p>
        <input
          [disabled]="profileForm.invalid"
          id="register"
          type="submit"
          value="Edit profile"
        />
      </p>
    </form>
    <div id="create-account-wrap">
      <p>
        Want to change password?
        <a routerLink="/change-password/{{ user.id }}">Change password here</a>
      </p>
      <p></p>
      <p>
        Want to delete your profile?
        <a (click)="deleteProfile(user.id)" style="cursor: pointer; color: red"
          >Delete from here</a
        >
      </p>
      <p></p>
    </div>
  </div>
</div>
